body {
    margin: 0 auto;
    padding:0;
    border: 0;
    height: 500px;
    min-width: 660px;
    max-width: 60em;
}
#row_wrapper{
    display: flex;
    flex-direction: row;
}
header{
    border: 1px solid black;
    padding: 5px;
    height: 150px;
    text-align:center;
    background-color: red;
    color: white;
}
footer {
    border: 1px solid black;
    padding: 5px;
    height:40px;
    text-align:center;
    background-color: orange;
    color: white;
}
#content {
    flex: 1;
    border: 1px solid black;
    margin-left:5%;
    padding: 10px;
    background: ghostwhite;
}
